.buttonContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100vw;
  height: 90vh;
}

.flipperButton {
  display: flex;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: red;
}